<div class="col-md-3 p-1">
  <div>
    <form class="form-inline my-2 my-lg-0">
      <!-- <i class="fas fa-search"></i> -->
      <input
        id="search"
        class="bg-light p-2"
        type="search"
        placeholder="Buscar en Twitter"
        aria-label="Search"
        style="font-family: Arial, 'Font Awesome 5 Free'"
      />
    </form>
  </div>

  <div class="mt-3 bg-light p-3 sugerencias">
    <h5>
      <strong>Tendencias para ti </strong>
    </h5>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Futbol - Tendencia</p>
      <p class="trendingImportant"><strong>Tabarez</strong></p>
      <p class="sideBarTrendingInfo">4.370 Tweets</p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Deportes - Tendencia</p>
      <p class="trendingImportant"><strong>Uruguay</strong></p>
      <p class="sideBarTrendingInfo">1.968 Tweets</p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p class="trendingImportant"><strong>Maria Becerra</strong></p>
    </div>
    <div class="divTrending">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p class="trendingImportant"><strong>Punta del Este</strong></p>
    </div>
    <div class="mt-4">
      <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href=" #"
        >Mostrar mas</a
      >
    </div>
  </div>
  <div class="mt-3 bg-light p-3 sugerencias">
    <h5><strong>A quien seguir</strong></h5>

    <div class="divTrending d-flex justify-content-around">
      <img
        class="avatarTrending align-self-center"
        src="https://www.redaccionmedica.com/images/destacados/-buscamos-la-recuperacion-completa-de-la-persona-con-depresion--7353.jpg"
        alt=""
      />
      <div class="align-self-center">
        <p class="ml-2 trendingImportant"><strong>Juan Perez</strong></p>
        <p class="sideBarTrendingInfo">@juanperez</p>
      </div>
      <button class="btn btn-dark buttonTrending ml-2 align-self-center">Seguir</button>
    </div>
    <div class="divTrending d-flex justify-content-around">
      <img
        class="avatarTrending align-self-center"
        src="https://www.webconsultas.com/sites/default/files/styles/wc_adaptive_image__small/public/articulos/perfil-resilencia.jpg"
        alt=""
      />
      <div class="align-self-center">
        <p class="ml-2 trendingImportant"><strong>Maria Gomez</strong></p>
        <p class="sideBarTrendingInfo">@mariagonzalez</p>
      </div>
      <button class="btn btn-dark buttonTrending ml-2 align-item-center align-self-center">
        Seguir
      </button>
    </div>
    <div class="divTrending d-flex justify-content-around">
      <img
        class="avatarTrending align-self-center"
        src="https://img.freepik.com/foto-gratis/retrato-joven-sonriente-gafas_171337-4842.jpg?size=626&ext=jpg"
        alt=""
      />
      <div class="align-self-center">
        <p class="ml-2 trendingImportant"><strong>Pablo Garcia</strong></p>
        <p class="sideBarTrendingInfo">@pablogarcia</p>
      </div>
      <button class="btn btn-dark buttonTrending ml-2 align-item-center align-self-center">
        Seguir
      </button>
    </div>
    <div class="mt-4">
      <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href=" #"
        >Mostrar mas</a
      >
    </div>
  </div>

  <div id="conditions" class="mt-3 p-2">
    Condiciones de Servicio Política de Privacidad Política de cookies Información de anuncios Más
    opciones © 2021 Twitter, Inc.
  </div>
</div>
