<div class="col-md-3">
  <div class="mt-2">
    <form class="form-inline my-2 my-lg-0">
      <input
        id="search"
        class="bg-light p-2"
        type="search"
        placeholder="Buscar en Twitter"
        aria-label="Search"
      />
    </form>
  </div>

  <div class="mt-3 bg-light p-2 sugerencias">
    <h5><strong>Tendencias para ti </strong></h5>
    <div class="mt-4">
      <p class="sideBarTrendingInfo">Futbol - Tendencia</p>
      <p><strong>Tabarez</strong></p>
      <p class="sideBarTrendingInfo">4.370 Tweets</p>
    </div>
    <div class="mt-4">
      <p class="sideBarTrendingInfo">Deportes - Tendencia</p>
      <p><strong>Uruguay</strong></p>
      <p class="sideBarTrendingInfo">1.968 Tweets</p>
    </div>
    <div class="mt-4">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p><strong>Maria Becerra</strong></p>
    </div>
    <div class="mt-4">
      <p class="sideBarTrendingInfo">Tendencias en uruguay</p>
      <p><strong>Punta del Este</strong></p>
    </div>
    <div class="mt-4">
      <p class="sideBarTrendingInfo">Deportes - Tendencia</p>
      <p><strong>Cavani</strong></p>
      <p class="sideBarTrendingInfo">2.932 Tweets</p>
    </div>
  </div>

  <div class="mt-4 p-2">
    Condiciones de Servicio Política de Privacidad Política de cookies Información de anuncios Más
    opciones © 2021 Twitter, Inc.
  </div>
</div>
