<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta") %>
  </head>
  <body>
    <div id="principalRow" class="row">
      <%- include("partials/leftSideBar") %>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <h5><strong>Inicio </strong></h5>
            </div>
            <div
              class="d-flex justify-content-start align-self-center homeDiv homeDivPrincipal p-2"
            >
              <img
                id="homeTweetPic"
                src="https://educacionejecutivablog.files.wordpress.com/2015/06/tec_monterrey_empresario_5.jpg"
                alt=""
              />
              <input id="inputHome" type="text" placeholder="¿Que esta pensando?" />
            </div>
            <div id="twittear" class="d-flex justify-content-end align-self-center homeDiv p-2">
              <button id="twInputButton" type="button" class="btn btn-primary">
                <strong>Twittear </strong>
              </button>
            </div>
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <img
                class="avatarTrending"
                src="https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/419665d2-74b7-49d4-b3c8-3aea253f966f.jpg"
                alt=""
              />
              <div class="mx-3">
                <h5>Pedro Gonzalez</h5>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur id culpa vel qui
                  officia unde commodi eveniet exercitationem aspernatur beatae asperiores voluptas
                  assumenda eligendi quam, cumque, minus praesentium deleniti doloribus.
                </p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <i class="far fa-heart"></i>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <img
                class="avatarTrending"
                src="https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/419665d2-74b7-49d4-b3c8-3aea253f966f.jpg"
                alt=""
              />
              <div class="mx-3">
                <h5>Pedro Gonzalez</h5>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur id culpa vel qui
                  officia unde commodi eveniet exercitationem aspernatur beatae asperiores voluptas
                  assumenda eligendi quam, cumque, minus praesentium deleniti doloribus.
                </p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <i class="far fa-heart"></i>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <img
                class="avatarTrending"
                src="https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/419665d2-74b7-49d4-b3c8-3aea253f966f.jpg"
                alt=""
              />
              <div class="mx-3">
                <h5>Pedro Gonzalez</h5>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur id culpa vel qui
                  officia unde commodi eveniet exercitationem aspernatur beatae asperiores voluptas
                  assumenda eligendi quam, cumque, minus praesentium deleniti doloribus.
                </p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <i class="far fa-heart"></i>
              <i class="fas fa-external-link-alt"></i>
            </div>
            <div class="d-flex justify-content-start align-self-center homeDiv p-2">
              <img
                class="avatarTrending"
                src="https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/419665d2-74b7-49d4-b3c8-3aea253f966f.jpg"
                alt=""
              />
              <div class="mx-3">
                <h5>Pedro Gonzalez</h5>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur id culpa vel qui
                  officia unde commodi eveniet exercitationem aspernatur beatae asperiores voluptas
                  assumenda eligendi quam, cumque, minus praesentium deleniti doloribus.
                </p>
              </div>
            </div>
            <div
              id="optionsDiv"
              class="d-flex justify-content-around align-self-center homeDiv p-2"
            >
              <i class="far fa-comment"></i>
              <i class="fas fa-retweet"></i>
              <i class="far fa-heart"></i>
              <i class="fas fa-external-link-alt"></i>
            </div>
          </div>
        </div>
      </div>
      <%- include("partials/rightSideBar") %>
    </div>
  </body>
</html>
