#search {
  border-radius: 20px;
  width: 100%;
  outline: none;
  border: none;
}
.sugerencias {
  border-radius: 0.5rem;
  line-height: 6px;
}

.sideBarTrendingInfo {
  font-size: 0.7rem;
  color: gray;
}

.trendingImportant {
  font-size: 0.8rem;
}
.avatarTrending {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.buttonTrending {
  border-radius: 30px;
  background-color: black;
  font-size: 0.7rem;
  padding: 0.1rem;
  width: 4rem;
}

.divTrending {
  margin-top: 2rem;
}

#conditions {
  font-size: 0.7rem;
  color: gray;
}

/* a {
  font-size: 0.8rem;
  text-decoration: none;
} */

#twButton {
  font-size: 1.2rem;
  width: 70%;
  border-radius: 30px;
  background-color: #00acee;
  border-bottom: none;
}
.rounded-pill {
  width: fit-content;
  /* padding: 2rem; */
}

#twInputButton {
  width: fit-content;
  border-radius: 20px;
  background-color: #00acee;
}

.homeDiv {
  border: solid rgb(226, 226, 226) 0.2px;
  border-bottom: none;
}
.homeDivPrincipal {
  border-bottom: none;
}

#optionsDiv {
  border-top: none;
}

#homeTweetPic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
}

#inputHome {
  height: 100px;
  border: none;
  margin-left: 1rem;
  outline: none;
  font-size: 20px;
  line-height: 2;
  resize: none;
  overflow: hidden;
}

#inputHome::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 2;
}

#twittear {
  border-top: none;
}

.index_background {
  background-image: url("https://pbs.twimg.com/media/E2TXLwWVgAA7y55.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.sideBarLeft {
  color: rgb(44, 44, 44);
  font-size: 1.3rem;
  text-decoration: none;
}

#principalRow {
  margin-left: 8rem;
  margin-right: 8rem;
}

#avatar {
  width: 150px;
  height: 150px;
  z-index: 1;
}

#avatarContainer {
  width: 150px;
  z-index: 100;
}

#portada {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bottom_user {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 20rem;
  padding: 1rem;
  border: 1px solid rgb(31, 7, 138);
  background-color: rgb(240, 236, 236);
  border-radius: 10px;
}

.bottom_user .user_data {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1rem;
}
.bottom_user .user_data .tag {
  margin-bottom: 0;
}

.bottom_user .user_image {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.btn_logout {
  font-size: 0.7rem;
}
.cursor_pointer:hover {
  cursor: pointer;
}
