#search {
  border-radius: 20px;
  width: 100%;
  border: none;
}
.sugerencias {
  border-radius: 0.5rem;
  line-height: 6px;
}

.sideBarTrendingInfo {
  font-size: 0.7rem;
  color: gray;
}

.trendingImportant {
  font-size: 0.8rem;
}
.avatarTrending {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.buttonTrending {
  border-radius: 30px;
  background-color: black;
  font-size: 0.7rem;
  padding: 0.1rem;
  width: 4rem;
}

.divTrending {
  margin-top: 2rem;
}

#conditions {
  font-size: 0.7rem;
  color: gray;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
}

#twButton {
  font-size: 0.9rem;
  width: 70%;
  border-radius: 30px;
  background-color: #00acee;
  border-bottom: none;
}
.rounded-pill {
  width: fit-content;
  padding-right: 1rem;
}

.homeDiv {
  border: solid lightgrey 0.5px;
}

#homeTweetPic {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

#inputHome {
  width: 100%;
  border: none;
}

#inputHome::-webkit-input-placeholder {
  font-size: 25px;
  line-height: 3;
}

#twittear {
  border-top: none;
}

.index_background {
  background-image: url("https://pbs.twimg.com/media/E2TXLwWVgAA7y55.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
